<div id="page-content">
  <div class="home-container">
        <h1 class="home-name">Alpha Blog</h1>
        <p class="home-description">Some description</p>
        <button type="button" class="btn btn-secondary btn-lg btn-block">Create your first article</button>
  </div>
</div>

<%= render 'footer' %>